// VARIABLES
$hue: 159;
$header-height: calc(4.5rem + 2rem);

$base-color: hsla($hue, 36%, 57%, 1);
$base-color-sencond: hsla($hue, 65%, 88%, 1);
$base-color-alt: hsla($hue, 57%, 53%, 1);

$title-color: hsla($hue, 41%, 10%, 1);

$text-color: hsla(0, 0%, 98%, 1);
$text-color-light: hsla(0, 0%, 98%, 1);

$body-color: hsla(0, 0%, 98%, 1);
