@import './colors.scss';
@import './variables.scss';

//  RESET
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    img {
        width: 100%;
        height: auto;
    }
    a {
        text-decoration: none;
    }
    ul {
        list-style: none;
    }
}

// BASE
html {
    scroll-behavior: smooth;
    body {
        font: 400 1rem "DM Sans", sans-serif;
        -webkit-font-smoothing: antialiased;
        .logo {
            font: 700 1.31rem "Poppins", sans-serif;
            color: $title-color;
            &.logo-alt {
                span {
                    color: $body-color;
                }
            }
            span {
                color: $base-color;
            }
        }
        .title {
            font: 700 1.875rem "Poppins", sans-serif;
            -webkit-font-smoothing: auto;
            color: $title-color;
        }
        .divider-1 {
            background: 
                linear-gradient(
                    270deg, 
                    hsla($hue, 36%, 57%, 1) 0%, 
                    hsla($hue, 65%, 88%, 0.34) 100%
                );
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            height: 1px;
        }
        .divider-2 {
            background: 
                linear-gradient(
                    270deg, 
                    hsla($hue, 65%, 88%, 0.34) 0%,
                    hsla($hue, 36%, 57%, 1) 100%
                );
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            height: 1px;
        }

    }
}

// LAYOUT
main {
    margin-top: $header-height;
}
.container {
    margin: 0 auto;
    width: 90%;
    img {
        max-width: 900px;
    }
    .btn {
        font: 500 1rem 'DM Sans', sans-serif;
        background-color: $base-color;
        transition: background 0.3s;
        color: $text-color-light;
        border-radius: 0.25rem;
        display: inline-flex;
        align-items: center;
        padding: 0 2rem;
        height: 3.5rem;
        :hover {
            background: $base-color-alt;
        }
    }
}
.grid {
    display: grid;
    gap: 2rem;
}
.section {
    padding: 5rem 0;
    header {
        margin-bottom: 4rem;
        strong {
            color: $base-color;
        }
    }
    .title {
        margin-bottom: 1rem;
    }
}
.back-to-top {
    transform: translateY(100%);
    transition: 0.3s;
    
    color: $text-color-light;
    background: $base-color;
    
    clip-path: circle();
    padding: 0.5rem;
    
    visibility: hidden;
    opacity: 0;
    
    font-size: 1.5rem;
    line-height: 0;
        
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    &.show {
        transform: translateY(0);
        visibility: visible;
        opacity: 1;
    }
}

// HEADER
#header {
    border-bottom: 1px solid #e4e4e4;
    background-color: $body-color;
    color: black;
    position: fixed;
    display: flex;
    z-index: 100;
    width: 100%;
    left: 0;
    top: 0;
    &.scroll {
        box-shadow: 2px 4px 20px 0 rgba(0, 0, 0, 0.2);
    }
    nav {
        justify-content: space-between;
        height: $header-height;
        align-items: center;
        display: flex;
        width: 100%;
        &.show {
            .menu {
                background: $body-color;
                place-content: center;
                visibility: visible;
                position: fixed;
                display: grid;
                height: 100vh;
                width: 100vw;
                opacity: 1;
                left: 0;
                top: 0;
                ul {
                    display: grid;
                    gap: 4rem;
                    li {
                        text-align: center;
                    }
                }
            }
            .icon-close {
                visibility: visible;
                opacity: 1;
                top: 1.5rem;
            }
        }
        .toggle {
            color: $base-color;
            font-size: 1.5rem;
            cursor: pointer;
        }
        .icon-close {
            visibility: hidden;
            opacity: 0;
            
            position: absolute;
            right: 1.5rem;
            top: -1.5rem;

            transition:  .2s;
        }
        .menu {
            visibility: hidden;
            transition: .2s;
            color: black;
            opacity: 0;
            ul {
                display: none;
                a {
                    position: relative;
                    transition: color .2s;
                    &::after {
                        background: $base-color;
                        transition: width .2s;
                        position: absolute;
                        bottom: -1.5rem;
                        content: '';
                        height: 1px;
                        width: 0;
                        left: 0;
                    }
                    &:hover {
                        color: $base-color;
                        &::after {
                            width: 100%;
                        }
                    }
                }
            }
            
        }
    }
    
}

// HOME SECTION
#home {
    overflow: hidden;
    .container {
        margin: 0;
    }
    .text {
        margin-right: 1.5rem;
        margin-left: 1.5rem;
        text-align: center;
        h1 {
            margin-bottom: 1rem;
        }
        p {
            margin-bottom: 2rem;
            max-width: 100%;
        }
    }
    .image {
        position: relative;
        &::before, img {
            border-radius: 0.25rem;
        }
        &::before {
            background: $base-color-sencond;
            position: absolute;
            height: 100%;
            width: 100%;
            content: '';
            left: 16.7%;
            top: -16.8%;
            z-index: 0;
        }
        img {
            position: relative;
            right: 2.93rem;
        }
    }
}

// ABOUT SECTION
#about {
    background: white;
    overflow: hidden;
    .container {
        margin: 0;
    }
    .text {
        margin-right: 1.5rem;
        margin-left: 1.5rem;
        h1 {
            margin-bottom: 1rem;
        }
        p {
            margin-bottom: 2rem;
            max-width: 100%;
        }
    }
    .image {
        position: relative;
        &::before, img {
            border-radius: 0.25rem;
        }
        &::before {
            background: $base-color-sencond;
            position: absolute;
            height: 100%;
            width: 100%;
            content: '';
            z-index: 0;
            left: -33%;
            top: -8.3%;
        }
        img {
            position: relative;
        }
    }
}

// SERVICES
#services {
    .cards.grid {
        gap: 1.5rem;
        .card {
            box-shadow: 0 0 12px  rgba(0, 0, 0, 0.8);
            border-bottom: .25rem solid $base-color;
            border-radius: .25rem .25rem 0 0;
            padding: 3.625rem 2rem;
            text-align: center;
            i {
                margin-bottom: 1.5rem;
                color: $base-color;
                font-size: 5rem;
                display: block;
            }
            .title {
                margin-bottom: .75rem;
                font-size: 1.5rem;
            }
        }
    }
}

// TESTIMONIALS
#testimonials {
    background: white;
    .container {
        margin-left: 0;
        margin-right: 0;
        header {
            margin-right: 1.5rem;
            margin-left: 1.5rem;
            margin-bottom: 0;
        }
        blockquote {
            box-shadow: 0 0 12px rgba(0, 0, 0, 0.8);
            border-radius: 0.25rem;
            padding: 2rem;
            p {
                margin-bottom: 1.5rem;
                text-indent: 1.875rem;
                position: relative;
                color: $title-color;
                span {
                    font: 700 2.5rem serif;
                    position: absolute;
                    color: $base-color;
                    left: -1.875rem;
                    top: -.375rem;
                }
            }
            cite {
                align-items: center;
                font-style: normal;
                display: flex;
                img {
                    margin-right: .5rem;
                    clip-path: circle();
                    object-fit: cover;
                    height: 2rem;
                    width: 2rem;
                }
            }
        }
    }
}

// CONTACTS
#contacts {
    .grid {
        gap: 4rem;
        .text {
            p {
                margin-bottom: 2rem;
            }
        }
        .links ul.grid {
            gap: 2rem;
            li {
                align-items: center;
                display: flex;
                i {
                    color: $base-color;
                }
            }
        }
        .btn i,
        ul li i {
            margin-right: .625rem;
            font-size: 1.5rem;
        }
    }
}

// FOOTER
footer {
    background: $base-color;
    .social {
        a {
            display: inline-block;
            margin-right: 2rem;
            transition: .3s;
            &:hover {
                transform: translateY(-8px);
            }
        }
        i {
            color: $text-color-light;
            font-size: 1.5rem;
        }
    }
    .brand {
        .logo {
            margin-bottom: 1.5rem;
            display: inline-block;
        }
        p {
            color: $text-color-light;
            margin-bottom: 0.75rem;
        }
    }
}

// Swiper
.swiper {
    .swiper-slide {
        padding: 4rem 1rem;
        height: auto;
    }
    .swiper-pagination-bullet {
        &-active {
            background: $base-color;
        }
    }
}

// media Queries
@media (min-width: 1200px) {
    
}

@media (min-width: 992px) {
    
}